############################################################
# Classical Arabic Computational Linguistics
# Ignore everything except the published website and
# essential project metadata.
############################################################

# Ignore everything
*

# Keep Git configuration
!.gitignore

# Keep project documentation
!README.md
!LICENSE
!CITATION.cff

# Keep the published website
!docs/
!docs/**

# (Optional) Keep the GitHub Pages configuration if you add one later
#!.nojekyll
/.quarto/
**/*.quarto_ipynb
