############################################################
# Classical Arabic Computational Linguistics
############################################################

# Ignore everything
*

# Project metadata
!.gitignore
!README.md
!LICENSE
!CITATION.cff
!_quarto.yml

# Published website
!docs/
!docs/**

# Quarto cache
.quarto/

# Jupyter cache
**/*.quarto_ipynb

# Editor files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
